fastapi
uvicorn[standard]
pandas
scipy
matplotlib
seaborn
pytest
httpx
pytest-asyncio
sqlalchemy
email-validator
passlib[bcrypt]  
bcrypt       
python-jose[cryptography] 
pydantic-settings    
python-multipart   