# Ambiente virtual do Python
.venv/
venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache e relatórios de teste
.pytest_cache/
.coverage

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivo do banco de dados local SQLite
# Não queremos copiar nosso DB de desenvolvimento para a imagem
*.db

# Arquivos do Docker
Dockerfile
.dockerignore