fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncmy           # Driver MySQL assíncrono
pydantic[email]
passlib[bcrypt]   # Para hash de senhas
argon2-cffi  # Adicione esta linha
python-jose[cryptography] # Para JWT
python-dotenv     # Para ler o .env
python-multipart 