fastapi
uvicorn[standard]
sqlalchemy
pymysql           # Driver para MySQL
pydantic-settings # Para carregar o .env

# Dependências de teste
pytest
pytest-asyncio    # Para testes async
httpx             # Para fazer requisições HTTP nos testes